<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <header>
            <nav>
                <a href="/funcionarios">Voltar</a>
            </nav>            
        </header>
    <body>
        <main>
            <h2> Criar Dados</h2>
            <form th:action="@{/salvar}" th:object="${funcionarios}">
                <input type="hidden" th:field="*{id}" /><br />
                <label>Nome:</label>
                <input type="text" th:field="*{nome}" /><br />
                <label>Cargo:</label>
                <input type="text" th:field="*{cargo}" /><br />
                <label>Departamento:</label>
                <input type="text" th:field="*{departamento}" /><br />
                <label>E-mail:</label>
                <input type="email" th:field="*{email}" /><br />
                <label>Data de Contratação:</label>
                <input type="date" th:field="*{datacontratacao}" /><br />
                <button type="submit">Criar</button>
            </form>
        </main>
    </body>
</html>
